@import "../../global-constants.scss";

.header {
    width: $size-content-width;
    margin: 0 auto;

    .top {
        display: flex;
        justify-content: space-between;
        padding: 10px 0;

        div {
            display: flex;
            gap: 20px;
        }

        h4 {
            font-weight: 500;
        }
    }

    .bigMargin{
        margin-bottom: 190px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;

            .img {
                height: 150px;
                width: auto;
                // transition: 0.4s;
            }

            .logoName {
                display: none;
                text-transform: uppercase;
                font-size: 2rem
            }
        }

        nav {
            display: flex;
            gap: 20px;

            a {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1rem;
                font-weight: 500;
            }
        }
    }

    .scrolled {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: $color-bg;
        z-index: 99;
        border-bottom: 1px solid $color-border;

        header {
            width: $size-content-width;
            margin: 0 auto;

            .img {
                height: 50px;
            }
        }
    }
}