@import '../../../styles/global-constants.scss';

.carouselItemsComponent {
    margin-bottom: $size-bmb;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: $size-mb-ib;

        .title {
            display: flex;
            align-items: flex-end;
            gap: 20px;

            h3 {
                font-size: 30px;
            }

            a {
                color: $color-orange;
                margin-bottom: 4px;
                text-decoration: none;
            }
        }

        .buttonContainer {
            display: flex;
            align-items: center;
            gap: 15px;

            .button {
                width: 30px;
                height: 30px;
                cursor: pointer;

                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    .swiper {
        padding-left: 20px;
        margin: 0 -10px;

        &>div {
            margin: 10px -10px;
        }
    }

    .slide {
        padding: 20px 0px;
        // border: 1px solid $color-border;
        // box-shadow: 0 2px 6px rgba(28, 28, 30, .08);
        // border-radius: 10px;
        // display: flex;
        // flex-direction: column;
        // gap: 15px;

        // img {
        //     border-radius: 10px;
        // }

        // .title {
        //     color: $color;
        //     text-decoration: none;
        //     text-decoration: none;
        //     font-size: 1.2rem;
        // }
    }
}