$color-bg: #ffffff;
$color-content-bg: #ffffff;

$color: #1c1c1e;
$color-2: #f4f4f4;
$color-3: #777777;
$color-border: #dddddd;
$color-orange: #ff9f0a;

$color-green: #005420;
$color-green-2: #5ebe59;

$size-content-width: 1200px;
$size-bmb: 60px;
$size-mb-ib: 20px; 