@import "../../../styles/global-constants.scss";

.swiper {
    margin-bottom: 20px;
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        .title {
            display: flex;
            align-items: flex-end;
            gap: 30px;
            h3 {
                font-size: 30px;
            }
            p {
                color: $color-green-2;
                font-weight: 500;
                margin-bottom: 5px;
            }
        }
        .buttons {
            display: flex;
            align-items: center;
            gap: 10px;
            div {
                width: 40px;
                height: 40px;
                svg {
                    width: 40px;
                    height: 40px;
                    color: $color-green-2;
                }
            }
        }
    }
    ul {
        li {
            padding-right: 10px;
            padding-left: 10px;
        }
    }
}
